.runningmoviecontainer {
  display: flex;
  margin: 16px;
}
.runningmoviecontainer .left {
  width: 76%;
}

.runningmoviecontainer .right {
  width: 24%;
  display: flex;
  justify-content: flex-end;
  height: 470px;
}

.imageitem {
  margin: 20px;
  height: 350px !important;
  width: 250px !important;
}
.imageitem:hover {
  cursor: pointer;
}

.date-text {
  text-align: left;
}

.running-form {
  text-align: left;
}
