.header {
  height: 36px;
  background-color: #222;
  padding: 8px 32px 8px 6px;
}
.header .logo {
  height: 35px;
  background-color: #ff7f7f;
}
.header .btn {
  float: right;
  margin-left: 20px;
}

.imageRotateHorizontal{
  animation: spinHorizontal 8s infinite linear;
}

@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
