.upcomingmovieheader {
    background-color:  #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.upcomingmoviecontainer {
    width: 100%;
    display: flex;
    overflow: auto;
    margin: 5px;
}

.upcomingmoviecontainer .flexscroll {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}